{% extends 'base.html' %}
{% block title %}Detail Project{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
        {% if perms.webapp.change_tasks %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'create_task' project.pk %}">
                    <button type="button" class="btn btn-light">Add Task</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'add_user' project.pk %}">
                    <button type="button" class="btn btn-light">Add to User</button>
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>{{ project.name }}</h2>
    <h2>{{ project.description }}</h2><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for task in project.tasks.all %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.summary }}</h5>
                        <p class="card-text">{{ task.description }}</p>
                        <a href="{% url 'detail_task' task.pk %}" class="btn btn-light">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br>
    <h2>Пользователи</h2>
    {% for name in project.users.all %}
        <h4 style="color: white">{{ name.username }}</h4>
        <form action="" method="post">
            {% csrf_token %}
            <a href="{% url 'delete_user' name.pk %}" class="btn btn-primary">Delete</a>
        </form>
    {% endfor %}
{% endblock %}